.LeftComponent {
    width: 610px;
    height: 90vh;
    background-color: rgb(20, 33, 39);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.loginBtn {
    width: 400px;
    height: 40px;
    background-color: rgb(3, 100, 224);
    border: none;
    color: white;
    border-radius: 30px;
}

.signupBtn {
    width: 400px;
    height: 40px;
    border: 1px solid rgb(3, 100, 224) ;
    color: rgb(3, 100, 224);
    border-radius: 30px;
    background-color: rgb(20, 33, 39);
}

.loginBtn:hover {
    background-color: rgb(26, 110, 221);
}

.signupBtn:hover {
    background-color: rgb(65, 71, 74);
}